#main_pic{
    width: 100px;
    text-align:center;
    display:block;
    margin:0 auto;
    width: 100%;
}
.head p{
    text-align: center;
    font-family: Broadway;
    font-size: 40px;
    color: darkslategray;
}
.ingredients_text{
    text-align: center;
    font-family: Broadway;
    color: #B72E3E;
}
.step h3{
    color: #B32D45;
    font-size: 15px;
    font-family: Broadway;
    font-variant: small-caps;
}
.ingredients{
    font-style: oblique;
    font-family: Calibri;
}
.step p{
    font-family: Calibri;
}